* {
    box-sizing: border-box;
}

body {
    background-color: #eef9bf;
}

header {
    width: fit-content;
    margin: 40px auto;
}
    h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 56px;
        font-weight: 700;
        text-align: center;
        color: #75b79e;
    }

.deck {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}
    .card {
        width: 117px;
        height: 146px;
        margin: 15px;
        position: relative;
    }
        .card .face {
            width: 100%;
            height: 100%;
            background-color: #a7e9af;
            border:  1px solid #99cea8;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute;
            backface-visibility: hidden;
            transition: all .5s;
            transform-style: preserve-3d;
        }
            .front-side {
                transform: rotateY(180deg);
            }
            .turn-up {
                transform: rotateY(0deg);
            }
            .turn-down {
                transform: rotateY(-180deg);
            }
        .card img {
            width: 100px;
            height: 100px;
        }

.hidden {
    display: none !important;
}

